.news-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .article-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .article {
    display: flex;
    gap: 20px;
    position: relative; /* Ensure relative positioning for absolute positioning inside */
  }
  
  .article-image {
    width: 400px;
    height: 200px;
  }
  
  .article-details {
    flex: 1;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    
  }
  
  td {
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  
  td:first-child {
    font-weight: bold;
    width: 30%;
  }
  
  /* Style for source name over the image */
  .source-over-image {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 1; /* Ensure the source name appears over the image */
  }
  .capitalize-text {
    text-transform: uppercase;
  }
  .article {
    display: flex;
    gap: 20px;
  }
  
  .article-image {
    width: 200px; /* Adjust image width as necessary */
    height: auto; /* Maintain aspect ratio */
  }
  
  .article-details {
    flex: 1;
  }